//EXAMPLE
// $brand-color-black: #404041;
// $brand-color-grey: #7D7D89;
// $brand-color-white: #fff;

// GLOBAL
// $default-text: $brand-color-black;

// buttons

// navigation

// footer

$darkGray: #202020;
$lightGray: #383838;
$purple: #7550ba;
$white: #efefef;